.benefits {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  @include respond-to(map-get($bp, m)) {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
  }
  &__1,
  &__2,
  &__3 {
    max-width: 80%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 5px solid $white;
    border-radius: $borderRadious;
    padding: 10px;
    margin: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include respond-to(map-get($bp, m)) {
      height: 400px;
    }
    @include respond-to(map-get($bp, l)) {
      max-width: 20%;
      margin: 30px;
    }
    &__svg {
      width: 50%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 10px;
      @include respond-to(map-get($bp, l)) {
        width: 30%;
      }
    }
    &__title {
      @extend %text;
      font-family: $principalFont;
      font-size: fs(l);
      text-align: center;
      margin-top: 10px;
      color: $black;
    }
    &__text {
      @extend %text;
      font-family: $secondaryFont;
      font-size: fs(m);
      text-align: center;
      margin-bottom: 10px;
      color: $darkGray;
    }
  }
}
