.header {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  overflow: hidden;
  background: $white;
  position: fixed;
  top: 0;
  z-index: 100;
  left: -1000;
  @include respond-to(map-get($bp, l)) {
    position: initial;
    min-height: 20%;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    left: 0;
  }
  &__logo {
    width: 40%;
    margin: 10px;
    @include respond-to(map-get($bp, m)) {
      width: 30%;
    }
    @include respond-to(map-get($bp, l)) {
      width: 7%;
    }
    @include respond-to(map-get($bp, xl)) {
      width: 5%;
    }
    & img {
      width: 100%;
    }
  }
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
    &__menu {
      min-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include respond-to(map-get($bp, l)) {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
      }

      &__item {
        text-decoration: none;
        color: $black;
        font-family: $principalFont;
        font-size: fs(m);
        font-weight: 900;
        margin: 10px;
        list-style: none;
        @include respond-to(map-get($bp, m)) {
          font-size: fs(l);
          margin: 30px;
        }
        @include respond-to(map-get($bp, l)) {
          font-size: fs(m);
          margin: 10px;
        }
        & a {
          text-decoration: none;
          color: $black;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
  &__button {
    @extend %transparent-btn;
    cursor: pointer;
    @include respond-to(map-get($bp, m)) {
      width: 330px;
      height: 80px;
      font-size: fs(l);
    }
    @include respond-to(map-get($bp, l)) {
      width: initial;
      height: initial;
      font-size: fs(m);
    }
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}
